@*@model MyNoddyStore.Models.CartIndexViewModel*@
@*@model MyNoddyStore.Entities.Cart*@
@model List<MyNoddyStore.Entities.MergedCartLine>
@{
    ViewBag.Title = "MyNoddy Store: Results";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
<h2>Cart Totals</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th>Quantity</th>
            <th class="text-right">Subtotal</th>
            <th>Testing</th>
        </tr>
    </thead>
    <tbody>
        @Html.ValidationSummary(false, "Checkout", new { @class = "text-danger" })
        @foreach (MyNoddyStore.Entities.MergedCartLine line in Model)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
                <td class="text-center">@line.ComputedUserTotal.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @(ViewBag.UserTotal.ToString("c")) hello @(ViewBag.AITotal.ToString("c"))
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    @*<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>*@
    @*@Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })*@
</div>