@*@model MyNoddyStore.Models.CartIndexViewModel*@
@*@model MyNoddyStore.Entities.Cart*@
@model List<MyNoddyStore.Entities.MergedCartLine>
@{
    ViewBag.Title = "MyNoddy Store: Results";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
@Html.ValidationSummary(false, "Checkout", new { @class = "text-danger" })
<h2>Cart Totals</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Subtotal</th>
            <th class="text-right">NPC Quantity</th>
            <th class="text-right">NPC Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MyNoddyStore.Entities.MergedCartLine line in Model)
        {
            <tr>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">@line.Quantity</td>
                <td class="text-right">@line.ComputedUserTotal.ToString("c")</td>
                <td class="text-right">@line.QuantityOther</td>
                <td class="text-right">@line.ComputedAITotal.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @(ViewBag.UserTotal.ToString("c")) hello @(ViewBag.AITotal.ToString("c"))
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    @Html.ActionLink(linkText: "Play again", actionName: "Restart", controllerName: "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink(linkText: "Back to Intro", actionName: "Index", controllerName: "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink(linkText: "Close", actionName: "Restart", controllerName: "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>