@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
    <main class="wrapper">
        <div class="heading myUserFontColor">
            <img src="~/images/logo.png" alt="logo" class="logo">
            <h1>MyNoddy MVC Supermarket Sweep</h1>
            <h2>A single-player shopping game.</h2>
        </div>

        <section class="game-intro">
            <p>
                A simple game to showcase an online supermarket created using MVC architecture. Fill your cart in the time available and checkout before the time expires.
                There is a limited stock of some items and you will be competing against the in-house NPC shopping-bot.
                If the value of your cart exceeds the value of the shopping-bot's cart, you win a visual prize!
            </p>
        </section>

        <div class="container-row">
            <img src="~/images/cartoon1.jpg" alt="cartoon" class="cartoon">
            <div id="btn-grp-wrapper">
                <div class="btn-grp">
                    <div id="whiteClockWrapperId" class="whiteClockWrapper btn-grp-item">
                        <div class="innerWhiteClockWrapper">
                            <span id="countdownClockWhiteBg"></span>
                        </div>
                    </div>

                    <div class="btn-grp-item">
                        @Html.ActionLink(linkText: "Continue", actionName: "List", controllerName: "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary continuebtn" })
                    </div>

                    <div class="btn-grp-item">
                        @Html.ActionLink(linkText: "Start", actionName: "Restart", controllerName: "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary startbtn" })
                    </div>
                </div>
            </div>
        </div>



        <!-- #region blah -->
        <section class="landing-content">


            <div>
                <h2></h2>
                <ul>
                    <li>gdrej fjsdgf jkdg jsdgfjdsgf dsfsf kdshgf h sdg</li>
                    <li>gdj fjsdgf jkdg jsdgf jzxchg fsdfsd h sdfsdfsdfsdg</li>
                    <li>re fjsdgf jkdg jsdgfjds sdfdsf gfkdshgfsdfsdff h sdg</li>
                </ul>


            </div>

            <div style="text-align:left;" class="text-left">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique aut quae nemo, dicta dolorum impedit ab tempora accusantium sunt officia at voluptatibus doloribus ducimus asperiores ipsa neque? Culpa nam iure eius aut vero est fugit obcaecati sed provident rerum sit odit asperiores accusantium consectetur sapiente, totam doloribus repellendus nesciunt error!


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.


                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur blanditiis culpa obcaecati molestiae asperiores quaerat enim fugit quos minus! Vero voluptatibus officia praesentium quam, consequatur labore! Unde reiciendis neque doloribus totam adipisci. A minima libero voluptatibus labore asperiores quos quisquam ea deleniti? Deserunt, ipsa iusto. Harum dicta maxime, dolorum eum inventore veritatis nesciunt alias dolorem earum quasi iusto, quis id vitae labore sunt deserunt esse temporibus natus laborum. Perferendis officia iste omnis facere unde voluptatum nisi magnam, quod neque, asperiores repellendus! Possimus quas odit asperiores fugiat nulla sequi praesentium id eveniet minus, atque facere porro vel debitis commodi ad voluptates.

            </div>
        </section>
        <!-- #endregion -->
    </main>
    <footer>
        <p>&copy; Sajeewa Dissanayake 2019. Made with ❤ and Visual Studio.</p>
        @*<p>&copy; Sajeewa Dissanayake 2019. Made with ❤ and CSS Grid.</p>*@
    </footer>


    <script>

    var countdownCtrl = document.getElementById("countdownClockWhiteBg");
    var countdownCtrlBorder = document.getElementsByClassName("innerWhiteClockWrapper")[0];
    var startButton = document.getElementsByClassName("startbtn")[0];
    var continueButton = document.getElementsByClassName("continuebtn")[0];

    var inGameFlag = @ViewBag.inGame;

    //if still in a game (navigated here while within game), then allow option to restart or continue. Also show countdown timer.
    if (inGameFlag == 0) {
        startButton.innerHTML = "Start Game";
        continueButton.style.display = "none";
        countdownCtrl.style.display = "none";
        countdownCtrlBorder.style.display = "none";
    }
    else {
        startButton.innerHTML = "Restart";
        continueButton.style.display = "";
        countdownCtrl.style.display = "";
        countdownCtrlBorder.style.display = "";
    }

    var remaining = @ViewBag.remainingTime; //todo if this has a value, show this in start screen.

    var countDownDate = new Date();
    countDownDate.setMilliseconds(countDownDate.getMilliseconds() + remaining);

    // Update the countdown immediately and then every quarter of a second (otherwise it lags between page refresh and redirects)
    RunCountdown();
    var xInterval = setInterval(RunCountdown, 250);

    function RunCountdown() { //tbc add this as a central script.
        // Get todays date and time
        var now = new Date().getTime();

        // Find the duration between now and the count down date
        var duration = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(duration / (1000 * 60 * 60 * 24));
        //var hours = Math.floor((duration % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        //var minutes = Math.floor((duration % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((duration % (1000 * 60)) / 1000);
        var formattedSeconds = seconds.toString().padStart(2, '0');

        // Display the result in the element with id="demo"
        countdownCtrl.innerHTML = formattedSeconds;

        // If the count down is finished, cancel the countdown
        if (duration < 0) {
            clearInterval(xInterval);
            countdownCtrl.innerHTML = "00";
        }
    }

    </script>
</body>
</html>