@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" /> @*todo amalgamate css??*@
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
    @*<div id="page-container">*@ @* todo testing footer shift to bottom of page.  *@
    <main class="wrapper">
        <section class="hero">
            <h1>You thirsty?</h1>
            <article>
                <p>Explore local breweries with just one click and stirred by starlight across the centuries light years great turbulent clouds circumnavigated paroxysm of global death.</p>
                <a href="#breweries">Browse Breweries</a>
            </article>
        </section>

        <div class="text-center">
            @Html.ActionLink(linkText: "Start", actionName: "Restart", controllerName: "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary startbtn" })
            @Html.ActionLink(linkText: "Continue", actionName: "List", controllerName: "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary continuebtn" })
            <span id="countdownClockWhiteBg">&nbsp;&nbsp;</span>
        </div>

        <div>
            ghjgkjhgkh
        </div>

        <!-- #region collpse me -->
        @*<section class="breweries" id="breweries">
            <ul>
                <li>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
                        <figcaption><h3>Billions upon billions</h3></figcaption>
                    </figure>
                    <p>
                        Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
                    </p>
                    <a href="#">Visit Website</a>
                </li>
                <li>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
                        <figcaption><h3>Drake Equation</h3></figcaption>
                    </figure>
                    <p>
                        Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
                    </p>
                    <a href="#">Visit Website</a>
                </li>
                <li>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
                        <figcaption><h3>Vast cosmic arena</h3></figcaption>
                    </figure>
                    <p>
                        Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
                    </p>
                    <a href="#">Visit Website</a>
                </li>
            </ul>
        </section>*@
        <!-- #endregion -->
    </main>
    <footer>
        <p>&copy; 2019. Made with ❤ and CSS Grid.</p>
    </footer>


    <script>

    var countdownCtrl = document.getElementById("countdownClockWhiteBg");
    var startButton = document.getElementsByClassName("startbtn")[0];
    var continueButton = document.getElementsByClassName("continuebtn")[0];

    var inGameFlag = @ViewBag.inGame;

    //if still in a game (navigated here while within game), then allow option to restart or continue. Also show countdown timer.
    if (inGameFlag == 0) {
        startButton.innerHTML = "Start";
        continueButton.style.display = "none";
        countdownCtrl.style.display = "none";
    }
    else {
        startButton.innerHTML = "Restart";
        continueButton.style.display = "";
        countdownCtrl.style.display = "";
    }

    var remaining = @ViewBag.remainingTime; //todo if this has a value, show this in start screen.

    var countDownDate = new Date();
    countDownDate.setMilliseconds(countDownDate.getMilliseconds() + remaining);
    // Update the countdown every quarter of a second (otherwise it lags between page refresh and redirects)
    var xInterval = setInterval(RunCountdown, 250);

    function RunCountdown() { //tbc add this as a central script.
        // Get todays date and time
        var now = new Date().getTime();

        // Find the duration between now and the count down date
        var duration = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(duration / (1000 * 60 * 60 * 24));
        //var hours = Math.floor((duration % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        //var minutes = Math.floor((duration % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((duration % (1000 * 60)) / 1000);
        var formattedSeconds = seconds.toString().padStart(2, '0');

        // Display the result in the element with id="demo"
        countdownCtrl.innerHTML = formattedSeconds;

        // If the count down is finished, cancel the countdown
        if (duration < 0) {
            clearInterval(xInterval);
            countdownCtrl.innerHTML = "00";
        }
    }

    </script>
    @*</div>*@
</body>
</html>