@model MyNoddyStore.Entities.Product
<div class="well well-sm" name="mainchilddiv">
    @*<div class="pull-left">*@
    <img class="pull-left myimg" src="@Url.Content(String.Format("~/Images/{0}.png", Model.Picture))" alt="No Image" />
    @*</div>*@

    <h3>
        <strong>@Model.Name</strong><span>Stock:@Model.InitialStockCount.ToString() =  @Model.StockCount.ToString() + @Model.MyQuantity.ToString() + @Model.OtherQuantity.ToString()</span>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>

    <button class="additemxyz">AddXYZ</button>
    @*<div class="status-message" style="visibility:hidden"></div>*@
    <div name="statusmsgdiv" id="statusmsgdivid" class="status-message">
        <span>testtext</span>
    </div>

    @using (Html.BeginForm("UpdateCart", "Cart"))
    {
        <div class="pull-right">
            <div class="flex-grid">
                <div class="flexcol3 quantity" name="quantitydiv">
                    <span>Quantity</span>
                    <button class="minus-btn" type="button" name="minusbutton">
                        <img src="~/Images/minus.svg" alt="" />
                    </button>
                    <input type="text" class="textclass" name="MyQuantity" size="1" width="50" readonly="readonly" value="@Model.MyQuantity.ToString()">
                    <button class="plus-btn" type="button" name="plusbutton">
                        <img src="~/Images/plus.svg" alt="" />
                    </button>
                </div>
                <div class="flexcol">
                    <div>
                        @Html.HiddenFor(x => x.ProductID)
                        @*@Html.Hidden("quantity", prodQuantity)*@
                        @*@Html.HiddenFor(x => x.MyQuantity)*@
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        @Html.Hidden("pageNumber", (object)ViewBag.pageNumber)
                        @Html.Hidden("categoryString", (object)ViewBag.categoryString)
                        <input type="submit" name="submitUpdate" id="btnUpdate" class="btn btn-success update-btn-class" value="Update" />
                    </div>
                </div>
                <div class="flexcol">
                    @*@Html.HiddenFor(x => x.ProductID)*@
                    @*@Html.Hidden("quantity", 10)*@
                    @*@Html.Hidden("returnUrl", Request.Url.PathAndQuery)*@
                    <input type="submit" name="submitCheckout" id="btnCheckout" class="btn btn-success" value="View cart" />
                </div>
            </div>
        </div>

        @*<div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>*@
    }

    <span class="lead">@Model.Description</span>
</div>

